# Ignorer le dossier node_modules
node_modules/

# Ignorer les fichiers de build
dist/
build/

# Ignorer les fichiers environnementaux
.env
.env.local
.env.*.local

# Ignorer les logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorer les fichiers d'OS
.DS_Store

# Ignorer les fichiers Vite
.vite/
